<p>
these are string interpolation <br>
from class code to here (template):
<br>
 <i>{{valueFromComponentClass}}</i>
 <br>
 <i>{{'another value'}}</i>
 <br>
 <i>{{getValueFromComponentClass()}}</i>
 <br>
 <i>{{ 2 == 4}}</i>
 <br>
 <i>{{ 2 + 4}}</i>
 <br>
 <i>{{ 2==4?'well how about that':'oh yeah'}}</i>
 <br>
 <i>{{numberValueFromComponentClass}}</i>
</p>
<p>
  this is property binding and event binding e
  to here (template):<br>
  <button class="btn btn-primary" [disabled]="isDisabled" (click)="onButtonClicked()">Button</button>
 <br>
  <input type="text" [placeholder]="placeHolderText" />
 <br>
  <button class="btn btn-primary" [disabled]="isDisabled" (click)="onButtonClicked2(this,$event)">Button</button>
 <br>
  <input type="text" [placeholder]="placeHolderText" (keyup)="onChangeInputText(this,$event)"/>
 <br>
</p>
<p>
  This is two-way databinding:
  <input type="text" [placeholder]="placeHolderText" (keydown)="onKeyDownInputText($event)"/>
 <br>
  <input type="text" (input)="updateSomeOtherText($event)"/>
 <br>
  <input type="text" [(ngModel)]="someOtherText"/>
 <br>
  <input type="text" [(ngModel)]="someOtherText"/>
 <br>
{{someOtherText}}
</p>
<hr>
Combined Data Binding Exercise From Udemy Angular class
<p>
</p>
<!--property binding, event binding-->
<button class="btn btn-primary" [disabled]="!username" (click)="resetUserName()">Reset Username</button>
<!--event binding from here to typescript code-->
<input type="text" (keyup)="updateUserName($event)"/>
<!--two-way databinding does same thing as above-->
<input type="text" [(ngModel)]="username"/>
This is a mindless paragraph of text
that will (entered above) show the current username here
{{username}}
<p></p>
